img {
    width: 100%;
}

img + em {
    display: block;
    text-align: center;
}

/* Quick hack to make the canvas scale with the page without adjusting the 
   actual resolution */
div > canvas {
    width: 100% !important;
    height: unset !important;
}
